a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    color: unset;
}

a:focus,
a:hover {
    text-decoration: none;
    color: unset;
}

@font-face {
    font-family: 'UTMAvo';
    src: url('../fonts/UTM\ Avo.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UTMAvo Bold';
    src: url('../fonts/UTM\ AvoBold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'UTM Avo', sans-serif;
}

ul {
    list-style-type: none;
    padding-inline-start: 0 !important;
}


/* .container {
    max-width: 84%;
} */


/* HEADER */

.top-banner {
    height: 1080px;
}

.main-header {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.banner-img {
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: -3;
    width: 100%;
    height: auto;
}

.banner-cover {
    position: absolute;
    top: 0;
    object-fit: cover;
    z-index: -2;
    width: 100%;
    height: auto;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background: #00b941;
    background-color: #00b941 !important;
    border-color: #00b941 !important;
    outline-color: #00b941 !important;
    box-shadow: unset !important;
    color: #fff;
    border-radius: 0 !important;
}

.btn-primary {
    font-family: "UTMAvo Bold";
}

.navbar-nav .audience {
    color: #fff !important;
    font-size: 20px;
    line-height: 1;
}

.navbar-nav .user-permit {
    color: #fff !important;
    font-size: 16px;
    line-height: 20px;
}

.dropdown-menu a {
    font-size: 16px;
    font-weight: 500;
}

.navbar-dark .navbar-toggler {
    border-color: unset !important;
    outline: none;
    color: rgba(255, 255, 255, 0) !important;
}

.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler:active,
.navbar-light .navbar-toggler:checked,
.navbar-light .navbar-toggler:visited,
.navbar-light .navbar-toggler:focus {
    outline: none;
}

.banner-content {
    width: 50%;
    position: relative;
    clear: both;
    margin: 10% auto 0;
    transition: 0s;
    transition-timing-function: step-start;
}

.banner-content h3 {
    font-family: "UTMAvo Bold";
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-weight: 500;
}

.banner-content #prop-sell,
.banner-content #prop-rent {
    display: none;
}

.banner-content label {
    color: #fff;
    padding-left: 5px;
}

input[type="radio"]:checked+label {
    background-color: #000;
    opacity: 0.65;
    font-weight: 600;
    margin-bottom: 0;
    padding: 10px 5px;
}

.banner-content .input-group {
    border: 5px solid rgba(0, 0, 0, .65);
}

input[type="text"] {
    border-radius: 0;
    padding-left: 5px;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:visited,
input[type="text"]:active {
    border-color: unset !important;
    box-shadow: unset !important;
}


/* BODY */

.main-content {
    background: #f6f6f6;
    background-image: url(../images/content1-img.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.main-content-info h1 {
    font-family: "UTMAvo Bold";
    color: #008518;
    font-size: 26px;
    line-height: 1;
    font-weight: 500;
}

.main-content-info p {
    color: #008518;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify !important;
}

.product-content {
    margin-top: 160px;
}

.product-content .card {
    max-width: 31.25%;
    border: 1px solid #ececec;
    padding-top: 48px;
    text-align: center;
    border-radius: 5px;
}

.product-content .card img {
    max-width: 98px !important;
    height: auto !important;
    margin: -108px auto 0;
}

.product-content .card .card-body .card-title {
    max-width: 90%;
    font-family: "UTMAvo Bold";
    font-size: 26px;
    font-weight: 500;
    line-height: 1.33;
    margin: 0 auto 10px;
}

.product-content .card .card-body .card-text {
    max-width: 100%;
    font-size: 22px;
    line-height: 1.2;
}

.highlight-proj,
.ongoing-proj {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.highlight-proj h1,
.ongoing-proj h1 {
    font-family: "UTMAvo Bold";
    color: #008518;
    font-size: 25px;
    line-height: 1;
    font-weight: 500;
    text-align: center;
}

.sample-high-proj .card,
.sample-going-proj1 .card,
.sample-going-proj2 .card {
    max-width: 31.25%;
    border: 1px solid #ececec;
    padding-top: 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 4rem;
}

.sample-high-proj .card img,
.sample-going-proj1 .card img,
.sample-going-proj2 .card img {
    width: 100% !important;
    height: auto !important;
    margin: 0;
    border-radius: 5px;
}

.card-img-top {
    position: relative;
}

.sample-high-proj .card .card-img-top .proj-status {
    position: absolute;
    font-family: "UTMAvo Bold";
    color: #51ff2a;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .65);
    width: 100%;
    text-align: left;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
}

.sample-high-proj .card .card-img-top .proj-detail {
    position: absolute;
    font-family: "UTMAvo";
    color: #fff;
    font-size: 20px;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem;
}

.sample-going-proj1 .card .card-img-top .proj-detail,
.sample-going-proj2 .card .card-img-top .proj-detail {
    position: absolute;
    font-family: "UTMAvo";
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    text-align: left;
    bottom: 0;
    right: 0;
    padding: 0.5rem 1rem;
}

.sample-high-proj .card .card-img-top .proj-detail span,
.sample-going-proj1 .card .card-img-top .proj-detail span,
.sample-going-proj2 .card .card-img-top .proj-detail span {
    font-family: "UTMAvo Bold";
}

.sample-high-proj .card .card-body .card-title,
.sample-going-proj1 .card .card-body .card-title,
.sample-going-proj2 .card .card-body .card-title {
    max-width: 90%;
    /* height: 37px; */
    font-size: 26px;
    font-weight: bolder;
    line-height: 1.33;
}

.sample-high-proj .card .card-body .card-text,
.sample-going-proj1 .card .card-body .card-text,
.sample-going-proj2 .card .card-body .card-text {
    max-width: 100%;
    font-size: 22px;
    line-height: 1.2;
}

.sub-content {
    background-color: #162842;
}

.sub-content .sub-info {
    color: #fff;
    padding: 1rem 0;
}

.sub-img img {
    height: 180px;
}

.sub-content .sub-info h1 {
    font-family: "UTMAvo Bold";
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1rem;
}

.sub-content .sub-info p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.sub-banner img {
    width: 100%;
    height: auto;
}

.property-news h1 {
    font-family: "UTMAvo Bold";
    color: #008518;
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 2rem;
}

.property-news .first-news img {
    width: 100%;
    height: 100%;
}

.property-news .first-news .news-content {
    position: absolute;
    color: #fff;
    bottom: 1rem;
    padding: 0 1rem;
}

.news-content a {
    font-size: 22px;
    line-height: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.news-content time {
    font-size: 20px;
}

.property-news .another-news img {
    max-height: 130px;
}


/* FOOTER */

footer {
    position: relative;
    background-image: url(../images/footer-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.footer-content #footer-content-info {
    margin-left: 1.5rem;
    color: #fff;
}

.footer-content #content-title {
    font-family: "UTMAvo Bold";
    font-size: 22px;
}

.footer-content #company-addr,
.footer-content #company-tel {
    font-size: 16px;
}

.footer-content #company-addr:before {
    content: "";
    background-image: url(../images/location-icon.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    padding-right: 30px;
}

.footer-content #company-tel:before {
    content: "";
    background-image: url(../images/tel-icon.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    padding-right: 30px;
}

.nav-column .footer-nav-title {
    color: #fff;
    font-size: 22px;
}

.nav-column ul li a {
    text-decoration: none !important;
    color: #fff;
    font-size: 16px;
}

.social-link {
    padding-left: 15px;
}

.social-link img {
    width: 40px;
    height: 40px;
}

footer hr {
    border-top: 1.5px solid #fff;
}

footer .footer-line {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1440px) {
    .top-banner {
        height: 724px;
    }
    .navbar-nav .audience {
        color: #fff;
        font-size: 16px;
    }
    .navbar-nav .user-permit {
        color: #fff;
        font-size: 14px;
        font-weight: normal;
        line-height: 16px;
    }
    .product-content .card .card-body .card-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 1280px) {
    .top-banner {
        height: 773px;
    }
}

@media screen and (max-width: 1024px) {
    .top-banner {
        height: 579px;
    }
    .logo {
        width: 50px;
        height: auto;
    }
    .navbar-collapse .dropdown-menu {
        /* max-width: 50%; */
        float: right;
    }
    .navbar-collapse .btn-primary {
        float: right;
    }
    .navbar {
        z-index: 99;
        padding-top: 0;
    }
    .navbar-collapse .navbar-nav {
        position: absolute;
        background-color: rgba(0, 0, 0, .8);
        z-index: 99;
        right: 0;
    }
    .product-content .card .card-body .card-title {
        font-size: 24px;
    }
    .sample-high-proj .card .card-body .card-title,
    .sample-going-proj1 .card .card-body .card-title,
    .sample-going-proj2 .card .card-body .card-title {
        font-size: 22px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px),
(max-width: 320px) {
    .sample-high-proj .card .card-img-top .proj-status {
        background-color: rgba(0, 0, 0, .6);
        width: unset;
        bottom: unset;
        top: 0;
    }
    .sample-high-proj .card .card-img-top .proj-detail {
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .another-news {
        margin-top: 1rem;
    }
    .top-banner {
        height: 500px;
    }
    .banner-img {
        height: 500px;
    }
    .banner-cover {
        height: 500px;
    }
}

@media screen and (max-width: 768px) {
    .top-banner {
        height: 435px;
    }
    .banner-content h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .product-content {
        display: block !important;
        margin-top: 70px;
    }
    .product-content .card {
        max-width: 88%;
        margin: 0 auto 100px;
    }
    .sample-high-proj,
    .sample-going-proj1,
    .sample-going-proj2 {
        display: block !important;
    }
    .sample-high-proj .card,
    .sample-going-proj1 .card,
    .sample-going-proj2 .card {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 425px) {
    .top-banner {
        height: 300px;
    }
    .logo {
        width: 30px;
    }
    .navbar-collapse .navbar-nav {
        padding-right: 1rem;
    }
    .navbar-nav .audience {
        font-size: 14px;
    }
    .navbar-nav .user-permit {
        font-size: 12px;
        line-height: 14px;
    }
    .banner-img {
        height: 300px;
    }
    .banner-cover {
        height: 300px;
    }
    .banner-content {
        width: 80%;
    }
    .banner-content h3 {
        font-size: 20px;
    }
    .banner-content label {
        padding-left: 3px;
        margin-bottom: 0 !important;
    }
    input[type="radio"]:checked+label {
        padding: 0 3px;
    }
    .banner-content .input-group {
        border: 3px solid rgba(0, 0, 0, .65);
    }
    .main-content-info h1,
    .highlight-proj h1,
    .sub-content .sub-info h1,
    .ongoing-proj h1,
    .property-news h1 {
        font-size: 22px;
    }
    .main-content-info p,
    .sub-content .sub-info p {
        font-size: 16px;
        line-height: 1.3;
    }
    .product-content .card .card-body .card-title,
    .sample-high-proj .card .card-body .card-title,
    .sample-going-proj1 .card .card-body .card-title,
    .sample-going-proj2 .card .card-body .card-title {
        font-size: 20px;
    }
    .product-content .card .card-body .card-text,
    .sample-high-proj .card .card-body .card-text,
    .sample-going-proj1 .card .card-body .card-text,
    .sample-going-proj2 .card .card-body .card-text {
        font-size: 18px;
    }
    .sub-content .sub-info {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .news-content a,
    .news-content time {
        font-size: 18px;
    }
    /* */
    .footer-content #footer-content-info {
        margin-left: 0.5rem;
    }
    .footer-content #content-title {
        font-size: 16px;
    }
    .nav-column .footer-nav-title {
        font-size: 16px;
    }
    .nav-column ul li a {
        font-size: 14px;
    }
    .product-content {
        display: block !important;
        margin-top: 70px;
    }
    .product-content .card {
        max-width: 88%;
        margin: 0 auto 100px;
    }
    .sample-high-proj,
    .sample-going-proj1,
    .sample-going-proj2 {
        display: block !important;
    }
    .sample-high-proj .card,
    .sample-going-proj1 .card,
    .sample-going-proj2 .card {
        max-width: 88%;
        margin-left: auto;
        margin-right: auto;
    }
}